.shop-container {
    display: flex;
}

.product-container {
    width: 75%;
    padding: 15px;
    margin-left: 20px;
    margin-right: 20px;
    border-right: 1px solid lightgray;
}
.cart-container {
    width: 25%;
    padding: 15px;
}